@{
    ViewData["Title"] = "Project Borealis";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project Borealis</h1>
    <p>Project Borealis is an alliance management tool footer Whiteout Survival.</p>
</div>
