@using Borealis.Web.Controllers
@model HomeIndexViewModel

@{
    ViewData["Title"] = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Project Borealis</h1>
    <p>Project Borealis is an alliance management tool for Whiteout Survival.</p>

    @if(Model.IsAuthenticated) {
        @if(Model.IsPendingApproval) {
            <p>You are logged in but not yet allowed access. Ask an administrator to approve your request.</p>

            <p>When approved you will need to login again.</p>

            <a asp-controller="Account" asp-action="SignOut" asp-route-returnUrl="@Url.Action("Index")" class="btn btn-primary">Login again</a>
        } else if(!Model.IsApprovedUser){
            <p>To get access to this tool you need to request access and be approved by an administrator.</p>

            <a asp-controller="Account" asp-action="RequestApproval" class="btn btn-primary">Request approval</a>
        }
    } else {
        <a asp-controller="Account" asp-action="DiscordLogin" class="btn btn-primary">Login with Discord</a>
    }
</div>
