@model PlayersAddPlayersViewModel

@{
    ViewData["Title"] = "Add players";
}

<h1 class="display-4">Add players</h1>

<a asp-action="Index" class="btn btn-primary btn-sm mb-3">Go back</a>

<players-add-form></players-add-form>
