
@{
    ViewData["Title"] = "Discord";
}

<div id="discord-index-page">
    <div>
        <h1 class="display-4">Discord channel settings</h1>
    </div>

    <discord-settings-form></discord-settings-form>
</div>
