@inject Shorthand.Vite.Contracts.IViteService Vite

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @{
        var title = ViewData["Title"] as string;
        if(string.IsNullOrWhiteSpace(title)) {
            title = "Project Borealis";
        } else {
            title = $"{title} - Project Borealis";
        }
    }
    <title>@title</title>

    <link href="/static/borealis-icon.png" rel="icon">

    <environment exclude="Development">
        <link rel="modulepreload" href="@await Vite.GetAssetUrlAsync("scripts/index.mjs")" as="script" />
        <link rel="stylesheet" href="@await Vite.GetAssetUrlAsync("style.css")" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project Borealis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.IsInRole("TrustedUser")) {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="MessageTemplate" asp-action="Index">Message templates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="GiftCode" asp-action="Index">Gift codes</a>
                            </li>
                        }
                        @if(User.IsInRole("AdminUser")) {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Discord" asp-action="Index">Discord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center pt-3">
            Project Borealis -
            <a href="https://www.flaticon.com/free-icons/aurora" title="Aurora icons">Project icon created by Freepik - Flaticon</a> -
            <a href="https://github.com/karl-sjogren/project-borealis/" title="Project Borealis on GitHub">Check the code on github <i class="bi bi-github"></i></a>
        </div>

    </footer>

    <script src="@await Vite.GetAssetUrlAsync("scripts/index.mjs")" type="module"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
