@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User)) {
    <li class="nav-item">
        Hello @User.Identity?.Name!
    </li>
}
</ul>
